.App {
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 10vh;
  width: 80%;
  font-size: 24px;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

/* ********************************* header ********************************* */
h1, nav {
  font-family: 'Permanent Marker', cursive;
  color: #282c34;
  margin: 0 30px;
}

nav a {
  margin: 10px;
}

/* unvisited link */
a:link {
  color: #282c34;
}

/* visited link */
a:visited {
  color: #282c34;
}

/* mouse over link */
a:hover {
  color: #813326;
}

/* ********************************* body ********************************* */
#main {
  margin-left: 2%;
}

#me {
  max-width: 370px;
  position: fixed;
  right: 3px;
  bottom: 0;
}

.fa {
  font-size: 60px !important;
  margin: 10px;
}

/* ********************************* contact ********************************* */
input, textarea{
  width: 60%;
  background: transparent;
	border: none;
	border-bottom: 2px solid #454545;
  font-size: 18px;
}

/* ********************************* footer ********************************* */
footer {
  margin: 10px;
}